package-lock.json
node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/versions
#yarn.lock
tmp/
client/
coverage/
uploads/
logs/
npm-debug.*
.nyc_output
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
**/.env
**/.env.copy
.secrets-cache.json
**/.env.copy
# .env is tracked AND encrypted by git-crypt
# .env.template is tracked as plaintext