#yarn.lock
package-lock.json
node_modules/
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/patches
!.yarn/versions
tmp/
#client/
coverage/
uploads/
logs/
npm-debug.*
.nyc_output
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
**/.env*
