{
  "reporter": ["text", "html"],
  "include": ["src/**/*.js", "src/**/*.jsx"],
  "exclude": [
    ".pnp*", ".yarn", "**/*.spec.js",
    "src/libs/customEjsLexer.js", "src/misc/**", "src/config.CUSTOM.js",
    "src/gateways/another.payment.gateway.js",
    "src/gateways/another.payment.gateway.js",
    "src/gateways/testGateway.payment.gateway.js"
  ],
  "all": true
}
